.header-menu__btn {
  width: 33px;
  height: 33px;
  background-image: url(../img/menu.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
}

.header-menu__inner {
  display: none;
  position: absolute;
  background-color: rgba(15, 15, 15, 0.7);
  width: 100%;
  left: 0;
  top: 35px;
  height: 357px;
}

.header-menu__list {
  list-style: none;
  text-align: right;
  color: #fff;
}

.header-menu__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-top: 16px;
}

.header-menu_open {
  .header-menu__inner {
    display: block;
  }
}